{% extends "base_lgcj.html" %}

{% block head_scripts %}
<script type="text/javascript" src="/static/js/problem.js"></script>
{% endblock %}

{% block content %}
<!-- Problem Title -->
<h3 id="dsb-problem-title-area">
  <span id="dsb-problem-title-div" class="problem-title after-start-only" style="display: block;">
    <span style="color:#666">Problem List</span>
  </span>
</h3>

<br />
<h3>* Create New Problem.</h3>
<form action="/codejam/problem" method="post" enctype="multipart/form-data" id="problem_create" class="problem_box">
  {% csrf_token %}
  <table>
    {% if error %}
      <tr><td class="error" colspan="2"><b>[ Error !! ]</b>&nbsp;&nbsp;&nbsp;{{error}}</td></tr>
    {% endif %}
    <tr>
      <th>Name: </th>
      <td>
        <span id="problem_title">PDF File name will be problem name. </span>
        <input type="hidden" name="name" id="problem_name">
      </td>
    </tr>
    <tr><th>PDF: </th><td><input type="file" id="problem_pdf" name="pdf" accept="application/pdf"></td></tr>
    <tr><th>Points: </th><td><input type="text" id="problem_points" name="points" value="10" style="width:100px;"> Points</td></tr>
  </table>
  <div>
    <input type="submit" value="문제 만들기">
  </div>
</form>

<br />

{% if problems %}
<h3>* Problem List.</h3>
<div id="problem_list" class="problem_box">
  <table>
    <tbody>
      <tr>
        <th width="50px">NO.</th>
        <th>Problem</th>
        <th width="100px">Points</th>
        <th width="80px">Delete</th>
      </tr>
      {% for p in problems %}
      <tr>
        <td height="25px">{{forloop.counter}}</td>
        <td>
          <b>{{p.name}}</b>
          <span>
            &nbsp;&nbsp;
            <a target="_new" href="/codejam/problem/pdf?p={{p.id}}">[PDF]</a>
            <a href="/codejam/problem/modify?p={{p.id}}">[Modify]</a>
          </span>
        </td>
        <td>{{p.points}}</td>
        <td><a href="/codejam/problem/delete?p={{p.id}}" onclick="return confirm_delete();">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% endblock %}
