{% extends "2014_base.html" %}
{% load i18n %}


{% block head_title %}
Schedule - LGE Code Jam
{% endblock %}


{% block head_scripts %}
{% endblock %}


{% block content %}
<div style="width:51em;">
<h1>{% trans "Schedule: LGE Code Jam 2014" %}</h1>

<table id="schedule">
  <thead>
  <tr>
    <th class="desc">{% trans "차수" %}</th>
    <th class="date">{% trans "경연 일시" %}</th>
    <th class="time">{% trans "결과 공지" %}</th>
  </tr>
  </thead>
  <tbody class="block">
  <tr>
    <td class="desc">1</td>
    <td class="date" style="width: 350px;">3.28(Fri) <a
        href="javascript:GCJ.timeAndDateLink(2014, 3, 28, 13, 0);"
        >13:00 KST</a> ~ 3.31(Mon) <a
        href="javascript:GCJ.timeAndDateLink(2014, 3, 31, 13, 0);"
        >13:00 KST</a></td>
    <td class="time">4.4(Fri) <a
        href="javascript:GCJ.timeAndDateLink(2014, 4, 4, 12, 0);"
        >12:00 KST</a></td>
  </tr>
  <tr>
    <td class="desc">2</td>
    <td class="date" style="width: 350px;">6.20(Fri) <a
        href="javascript:GCJ.timeAndDateLink(2014, 6, 20, 13, 0);"
        >13:00 KST</a> ~ 6.23(Mon) <a
        href="javascript:GCJ.timeAndDateLink(2014, 6, 23, 13, 0);"
        >13:00 KST</a></td>
    <td class="time">6.27(Fri) <a
        href="javascript:GCJ.timeAndDateLink(2014, 6, 27, 12, 0);"
        >12:00 KST</a></td>
  </tr>
  <tr>
    <td class="desc">3</td>
    <td class="date" style="width: 350px;">8.29(Fri) <a
        href="javascript:GCJ.timeAndDateLink(2014, 8, 29, 13, 0);"
        >13:00 KST</a> ~ 9.1(Mon) <a
        href="javascript:GCJ.timeAndDateLink(2014, 9, 1, 13, 0);"
        >13:00 KST</a></td>
    <td class="time">9.5(Fri) <a
        href="javascript:GCJ.timeAndDateLink(2014, 9, 5, 12, 0);"
        >12:00 KST</a></td>
  </tr>
  </tbody>
</table>

<p>* All times are Korean Standard Time (KST).
  <a href="http://www.timeanddate.com/worldclock/converter.html" target="_blank" rel="nofollow">Here's how to convert KST into your local time.</a>
</p>
<p>* 결과는 collab 사이트의 <a href="http://collab.lge.com/main/x/Ktk7B" target="_blank">코딩 전문가 페이지</a>에 게시됩니다.</p>
<p>* Results will be published on the <a href="http://collab.lge.com/main/x/Ktk7B" target="_blank">coding expert</a>page.</p>
</div>
{% endblock %}


{% block body_scripts %}
{% endblock %}