{% extends "2014_base.html" %}
{% load i18n %}


{% block head_title %}
LGE Code Jam
{% endblock %}


{% block head_scripts %}
{% endblock %}


{% block content %}
<div>

  <div class="semi-block" style="border-top: 0">
    <div style="float:left">
      <h1 style="font-size:2.5em;">LGE Code Jam 2014</h1>
    </div>
  </div>

  <div class="semi-block">
    <div id="magic-area-wrap">
    <div id="magic-area" style="display: block;">
      <div id="magic-area-title" style="display: block;">{{ title|default:"No Competitions" }}</div>
      <!-- g-button-sparrow.css requires this monstrosity. -->
      <div class="g-button-basic"><div><span><span><span id="action-button"><a href="/codejam/contest/registration">Participate</a></span></span></span></div></div>
      <div id="magic-area-buttoninfo" style="display: block;">The contest has not started yet.</div>
      <!--<div class="under-button">
        <span id="link-under-action-button-0"><a href="/codejam/contests.html">Practice</a> on previous contests.</span>
        <span id="link-under-action-button-1"></span>
        <span id="link-under-action-button-2"></span>
      </div>-->
    </div>
    <div id="magic-prev-contest-div" style="display: none;">
    </div>
    </div>
    <div>
      <div style="margin-right:25em;">
        <p>
        <ul>
          <li>경연 기간: 3월 28일(금) 13:00 ~ 3월 31일(월) 13:00 (KST 기준)</li>
          <li>경연 방식:
            <ul> 
              <li>문제를 구현하여, 결과를 사이트에 업로드하고 PASS 여부를 확인한다.</li> 
              <li>PASS 확인 후 바로(5분 이내) 소스 코드를 lge-codejam@lge.com으로 제출한다.</li> 
              <li>메일 제목에, 이름, 소속, 문제 번호 을 같이 적어 보내주세요.
                <ul><li>Ex) 홍길동_MC_Problem1_Source</li></ul>
              </li>
              <li>구현 언어는 제한 없습니다.</li>
            </ul>
          </li>
        </ul>
  
        <ul>
          <li>Competition Period: 3.28(Fri) 13:00 ~ 3.31(Mon) 13:00 (KST Time Zone)</li>
          <li>Competition Rules:
            <ul>
              <li>Upload output files to the Code Jam site after solving a problem</li> 
              <li>Check for pass/fail, and then within 5 minutes send source code to lge-codejam@lge.com
              <li>Include your name, department and problem number when writing email subject
                <ul><li>ex) BradPit_LGSI_Problem1_Source</li></ul>
               </li>
              <li>Any program language or languages are allowed</li>
            </ul>
          </li>
        </ul>
        </p>
      </div>
    </div>
  </div>

  <div class="block">
    <span class="column">
       <div id="index-moreinfo">
         <div>
           If you have any questions or comments, please
           <a href="mailto:lge-codejam@lge.com">contact us</a>.
         </div>
       </div>
    </span>
  </div>

</div>
{% endblock %}


{% block body_scripts %}
{% if is_opened %}
<script type="text/javascript">
var opened_at = new Date(Date.parse('{{ opened_at }}'))
  , node = document.getElementById('action-button')
  , desc = document.getElementById('magic-area-buttoninfo');

window.onload = function () {

  function setCountdown() {

    var offset = opened_at - (new Date())
      , sec  = (offset > 0 ? Math.floor(offset / 1000) : 0)
      , min  = (sec > 0 ? Math.floor(sec / 60) : 0)
      , hour = (min > 0 ? Math.floor(min / 60) : 0)
      , day  = (hour > 0 ? Math.floor(hour / 24) : 0)
      , tag;

    if (sec > 0) {
        
      tag = sec + ' second' + (sec > 1 ? 's' : '');
      
      if (min > 0) {
        sec -= (min * 60);
        tag = min + ' min' + (min > 1 ? 's' : '');
        if (sec > 0) {
          sec  += ' ' + sec + ' sec' + (sec > 1 ? 's' : '');
        }
      }
      if (hour > 0) {
        min -= (hour * 60);
        tag = hour + ' hour' + (hour > 1 ? 's' : '');
        if (min > 0) {
           tag += ' ' + min + ' min' + (min > 1 ? 's' : '');
        }
      }
      if (day > 0) {
        hour -= (day * 24);
        tag = day + ' day' + (day > 1 ? 's' : '');
        if (hour > 0) {
          tag = + ' ' + hour + ' hour' + (hour > 1 ? 's' : '');
        }
      }
      node.innerHTML = ('<a>Compete in ' + tag + '</a>');
      setTimeout(setCountdown, 1000);
    } else {
      {% if id %}
      node.innerHTML = ('<a href="/codejam/dashboard">Start</a>');
      desc.innerHTML = '';
      {% endif %}
    }
  }

  if (opened_at - new Date() > 0) {
    setCountdown();
  } else {
    node.innerHTML = ('<a href="/codejam/dashboard">Go to problem page.</a>');
    desc.innerHTML = '';
  }
};
</script>
{% endif %}
{% endblock %}