{% extends "base_lgcj.html" %}

{% block head_scripts %}
{% endblock %}

{% block content %}
<h3 id="dsb-problem-title-area">
  <span id="dsb-problem-title-div" class="problem-title after-start-only" style="display: block;">
    <span style="color:#666">규칙 및 이용약관</span>
  </span>
</h3>

<br />

<ul>
  <li>경연 시간:</li>
  <ul>
    <li>금요일 오후 5시에 문제가 게시되며, 24시간 동안 Codejam이 진행됩니다. (KST 기준)</li>
  </ul>
  <br/>
  <li>경연 평가 방식:</li>
  <ul>
    <li>문제를 해결하면 각 문제에 배당된 점수를 획득하게 됩니다.</li>
    <li>동점자의 경우 최종 Pass 한 Output을 제출한 시간을 기준으로 먼저 제출한 순서로 순위가 매겨집니다.</li>
    <li>제출한 Output에 오류가 발생하는 경우마다 최종 제출 시간에 5분의 Penalty를 추가 됩니다.</li>
  </ul>
  <br/>
  <br/>
  <li>소스코드 제출:</li>
  <ul>
    <li>문제를 풀고, 소스코드는 마감시간 30분 후까지, <a>lge-codejam@lge.com</a></li>
  </ul>
  <br/>
  <li>최종 결과 공지:</li>
  <ul>
    <li>결과는 코딩 전문가 collab 페이지에 소스와 함께 게시됩니다.</li>
  </ul>
  <br/>
  <li>상위에 랭크된 참가자는 10월에 예정된 코딩전문가 후보자 경연에 참가 자격이 부여됩니다. (개별 e-mail 연락)</li>
</ul>
{% endblock %}
