{% extends "2014_base.html" %}
{% load i18n %}


{% block head_title %}
Terms and Conditions - LGE Code Jam
{% endblock %}


{% block head_scripts %}
{% endblock %}


{% block content %}
<div>

  <h1>Terms and Conditions</h1>

  <div id="container">
    <div id="centerdiv">
      <br/>
      <h3 style="text-decoration: underline; margin-top: 0">
      LGE CODE JAM 2014 CONTEST
      </h3>
      
      <ul>
        <li>경연 시간:
          <ul>
            <li>3월 28일(금) 13:00 ~ 3월 31일(월) 13:00 (KST 기준)</li>
          </ul>
        </li>
        <br/>
        <li>경연 평가 방식:
          <ul>
            <li>문제를 해결하면 각 문제에 배당된 점수를 획득하게 됩니다.</li>
            <li>획득한 점수로 순위가 매겨집니다.</li>
            <li>동점자의 경우 최종 Pass 한 Output을 제출한 시간으로 순위가 매겨집니다.</li>
          </ul>
        </li>
        <br/>
        <li>결과 공지:
          <ul>
            <li>결과는 코딩 전문가 collab 페이지에 소스와 함께 게시됩니다.</li>
            <li>상위 입상자는 10월에 예정된 코딩 전문가 후보자 경연에 참가할 수 있는 자격이 부여됩니다. (개별 e-mail 연락)</li>
          </ul>
        </li>
      </ul>
      
      <ul>
        <li>Competition Period:
          <ul>
            <li>3.28(Fri) 13:00 ~ 3.31(Mon) 13:00 (KST Time Zone)</li>
          </ul>
        </li>
        <br/>
        <li>How to award:
          <ul>
            <li>After you pass each problem, you take a given score.</li>
            <li>Rank is up to scores.</li>
            <li>If some have same score, then the rank will be given by the order of submission.</li>
          </ul>
        </li>
        <br/>
        <li>{% trans "Result Announcement:" %}
          <ul>
            <li>The result will be announced in collab site with source code.</li>
            <li>Participants with high score will have a chance of coding experts, who will be selected in October.</li>
          </ul>
        </li>
      </ul>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
  </div>

</div>
{% endblock %}

{% block body_scripts %}
{% endblock %}