<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dashboard</title>

<link rel="stylesheet" href="/static/third_party/jquery/jquery-ui-1.10.4.custom.min.css">
<script type="text/javascript" src="/static/third_party/jquery/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="/static/third_party/jquery/jquery-ui-1.10.4.custom.min.js"></script>

<!-- head scripts -->
{% block head_scripts %}
{% endblock %}
</head>


<body>
{% block content %}
{% endblock %}


<!-- body scripts -->
{% block body_scripts %}
{% endblock %}
</body>
</html>
