
<div id="dsb-problem-page0" class="dsb-content-pages" style="display: block;"><!-- Problem Input File Selection -->
	<div class="dsb-input-panel-text" id="dsb-input-panel-text0">
		<span style="color: #666666;">This contest is open for practice.  You can try every problem as many times as you like, though we won't keep track of which problems you solve.  Read the <a href="/codejam/quickstart.html" target="_blank">Quick-Start Guide</a> to get started.</span>
	</div>
	<table>
		<tbody id="dsb-input-form-table0">
			<tr>
				<td class="dsb-input-table-description">Small input<br>11 points</td>
				<td class="dsb-input-table-linktd">
					<div id="dsb-action-box-wrap0-0" class="">
						<div id="dsb-input-wrapper0-0" class="dsb-input-wrapper" style="display: inline;">
							<button class="dsb-input-start-button" id="dsb-input-start-button0-0" style="display: inline;">Solve A-small</button>
							<span class="dsb-input-link-span" id="dsb-input-link-plain0-0" style="display: none;"><img class="dsb-input-link-img" src="/codejam/contest/static/file.gif"><span class="dsb-input-link-text" id="dsb-input-link-plain-text0-0">Download A-small-practice.in</span></span>
						</div>
						<span class="dsb-input-table-caption" id="dsb-input-table-caption0-0" style="display: none;"></span>
						<span class="dsb-input-table-caption" id="dsb-resubmit-caption0-0" style="display: none;">Your submission was received. You can still <span class="dsb-input-link-text" id="dsb-resubmit-link0-0">resubmit</span> for <span id="dsb-resubmit-timer0-0"></span>.<br>Only your last submission counts.</span>
						<div>
							<div class="dsb-submit-form-div" id="dsb-submit-form-div0-0" style="display: none;">
								<div style="display:none"><b>Time Remaining:</b> <span id="io_timer_0"></span>&nbsp;&nbsp;</div>
								<div style="display:none"><b>Input:</b> A-small-practice.in.</div>
								<form id="submit-formio_timer_0" action="/codejam/contest/544101/dashboard/do" enctype="multipart/form-data" method="post">
									<input type="hidden" name="csrfmiddlewaretoken" value="ZDI3OTBiNzYwYWE0ODY1OTUzNjk4NTUzY2QwN2FlOTR8fDEzNjcyMDUzOTI4NjQ3NzI=">
									<div class="dsb-submit-form-separator">your output file:<input id="output-fileio_timer_0" type="file" name="answer" class="submitFormFile"></div>
									<div style="display: none">
										<table class="dsb-source-code-table">
											<tbody>
												<tr>
													<td style="padding:0.4em 0.2em 0 0">source code:&nbsp;&nbsp;</td>
													<td>
														<div id="source-filesio_timer_0">
															<div id="input-file-divio_timer_0-0">
																<span id="source-fileio_timer_0-0"><input type="file" name="source-file0" class="submitFormFile"></span>
																<span id="remove-source-fileio_timer_0-0" class="dsb-submit-form-links" style="visibility: hidden;">remove</span>
															</div>
														</div>
														<span id="add-source-fileio_timer_0" class="dsb-submit-form-links">Add another file</span>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="dsb-submit-form-separator" style="color:gray">source file(s): &nbsp;&nbsp;&nbsp;not needed for the practice contest</div>
									<div class="dsb-submit-form-separator" style="text-align:center">
										<input id="submit-buttonio_timer_0" type="button" value="Submit file">&nbsp;&nbsp;
										<input id="dsb-hide-submissionio_timer_0" type="button" value="Hide">
									</div>
									<div id="source-file-namesio_timer_0"></div>
									<input type="hidden" name="cmd" value="SubmitAnswer">
									<input type="hidden" name="problem" value="567116">
									<input type="hidden" name="input_id" value="0">
									<input type="hidden" name="num_source_files" id="num-source-filesio_timer_0" value="1">
									<input type="hidden" name="agent" value="website">
								</form>
							</div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td class="dsb-input-table-description">Large input<br>12 points</td>
				<td class="dsb-input-table-linktd">
					<div id="dsb-action-box-wrap0-1" class="">
						<div id="dsb-input-wrapper0-1" class="dsb-input-wrapper" style="display: inline;">
							<button class="dsb-input-start-button" id="dsb-input-start-button0-1" style="display: inline;">Solve A-large</button>
							<span class="dsb-input-link-span" id="dsb-input-link-plain0-1" style="display: none;"><img class="dsb-input-link-img" src="/codejam/contest/static/file.gif"><span class="dsb-input-link-text" id="dsb-input-link-plain-text0-1">Download A-large-practice.in</span></span>
						</div>
						<span class="dsb-input-table-caption" id="dsb-input-table-caption0-1" style="display: none;"></span>
						<span class="dsb-input-table-caption" id="dsb-resubmit-caption0-1" style="display: none;">Your submission was received. You can still <span class="dsb-input-link-text" id="dsb-resubmit-link0-1">resubmit</span> for <span id="dsb-resubmit-timer0-1"></span>.<br>Only your last submission counts.</span>
						<div>
							<div class="dsb-submit-form-div" id="dsb-submit-form-div0-1" style="display: none;">
								<div style="display:none"><b>Time Remaining:</b> <span id="io_timer_1"></span>&nbsp;&nbsp;</div>
								<div style="display:none">You may resubmit this multiple times within the remaining time-frame. Only your last submission will count.</div>
								<form id="submit-formio_timer_1" action="/codejam/contest/544101/dashboard/do" enctype="multipart/form-data" method="post">
									<input type="hidden" name="csrfmiddlewaretoken" value="ZDI3OTBiNzYwYWE0ODY1OTUzNjk4NTUzY2QwN2FlOTR8fDEzNjcyMDUzOTI4NjQ3NzI=">
									<div class="dsb-submit-form-separator">your output file:<input id="output-fileio_timer_1" type="file" name="answer" class="submitFormFile"></div>
									<div style="display: none">
										<table class="dsb-source-code-table">
											<tbody>
												<tr>
													<td style="padding:0.4em 0.2em 0 0">source code:&nbsp;&nbsp;</td>
													<td>
														<div id="source-filesio_timer_1">
															<div id="input-file-divio_timer_1-0">
																<span id="source-fileio_timer_1-0"><input type="file" name="source-file0" class="submitFormFile"></span>
																<span id="remove-source-fileio_timer_1-0" class="dsb-submit-form-links" style="visibility: hidden;">remove</span>
															</div>
														</div>
														<span id="add-source-fileio_timer_1" class="dsb-submit-form-links">Add another file</span>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="dsb-submit-form-separator" style="color:gray">source file(s): &nbsp;&nbsp;&nbsp;not needed for the practice contest</div>
									<div class="dsb-submit-form-separator" style="text-align:center">
										<input id="submit-buttonio_timer_1" type="button" value="Submit file">&nbsp;&nbsp;
										<input id="dsb-hide-submissionio_timer_1" type="button" value="Hide">
									</div>
									<div id="source-file-namesio_timer_1"></div>
									<input type="hidden" name="cmd" value="SubmitAnswer">
									<input type="hidden" name="problem" value="567116">
									<input type="hidden" name="input_id" value="1">
									<input type="hidden" name="num_source_files" id="num-source-filesio_timer_1" value="1">
									<input type="hidden" name="agent" value="website">
								</form>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table><!-- Problem Statement -->
	<div id="dsb-problem-content-div0" class="dsb-problem-content-div" style="width: 40em;">

{% autoescape off %}
{{body}}
{% endautoescape %}

</div>

</div>