{% extends "manager_base.html" %}

{% block head_scripts %}
<style>
#contest_create_error {
	/*background-color: red;*/
	color: white;
}
</style>
{% endblock %}



{% block content %}
<!-- Problem Title -->
<h3 id="dsb-problem-title-area">
  <span id="dsb-problem-title-div" class="problem-title after-start-only" style="display: block;">
  	<span style="color:#666">Contest List</span>
  </span>
</h3>

<br />
<h3>* Create New Contest.</h3>
<form id="contest_create">
	{% csrf_token %}
	<table>
    <thead>
      <tr>
      	<td id="contest_create_error" colspan="2"><span></span></td>
      </tr>
    </thead>
    <tbody>
  		<tr>
  		  <th>
  		    <label for="title">Title: </label> 
  		  </th>
  		  <td>
  		    <input type="text" id="contest_title" name="contest_title" maxlength="512">
  		  </td>
  		</tr>
  		<tr>
  		  <th>
  		    <label for="contest_opened">Open: </label>
  		  </th>
  		  <td>
  		    <input type="text" id="contest_opened" name="contest_opened"/> KST [UCT + 9:00] (EX: 2014-03-28 17:00)
  		  </td>
  		</tr>
  		<tr>
        <th>
          <label for="contest_expired">Expired: </label>
        </th>
        <td>
          <input type="text" id="contest_expired" name="contest_expired"/> KST [UCT + 9:00] (EX: 2014-03-30 17:00)
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td><input type="submit" value="Make Contest"></td>
      </tr>
    </tfoot>
	</table>
</form>

<br />

{% if contests %}
<h3>* Contest List.</h3>
<div id="problem_list" class="problem_box">
	<table>
		<tbody>
			<tr>
				<th width="50px">NO.</th>
				<th>Title</th>
				<th width="80px">visible</th>
				<th width="200px">opened</th>
				<th width="200px">expired</th>
				<th width="200px">closed</th>
				<th width="80px">hostory</th>
			</tr>
			{% for c in contests %}
			<tr>
				<td height="25px">{{forloop.counter}}</td>
				<td>{{c.title}}</td>
				<td>{{c.visible}}</td>
				<td>{{c.opened_at|date:"Y-m-d H:i"}}</td>
				<td>{{c.expired_at|date:"Y-m-d H:i"}}</td>
				<td>{{c.closed_at|date:"Y-m-d H:i"}}</td>
				<td>{{c.history}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}

{% endblock %}



{% block body_scripts %}
<script>
function isLeapYear(year) {
	return (year % 400 === 0) || (year % 100 !== 0 && year % 4 === 0);
}
function isValidDate(date) {
	var table = [false,31,28,31,30,31,30,31,31,30,31,30,31];
	var year  = Number(date[0]);
	var month = Number(date[1]);
	var day   = Number(date[2]);
	var max_d = Number(table[month] + (month === 2 && isLeapYear(year) ? 1 : 0));
	var hour  = Number(date[3]);
	var min   = Number(date[4]);
	if (12 < month || month < 1) {
		return false;
	}
	if (max_d < day || day < 1) {
		return false;
	}
	if (23 < hour || hour < 0) {
		return false;
	}
	if (60 < min || min < 0) {
		return false;
	}
	return true;
}
function showCreateError(msg) {
	document.getElementById('contest_create_error').firstChild.textContent = msg;
  	document.getElementById('contest_create_error').style.backgroundColor = 'red';
}

document.getElementById('contest_create').onsubmit = function () {
  
  var title = document.getElementById('contest_title').value,
  	  opened = document.getElementById('contest_opened').value,
  	  expired = document.getElementById('contest_expired').value,
  	  p = /^(\d{4})-(\d{1,2})-(\d{1,2}) (\d{1,2}):(\d{1,2})$/,
  	  d = false;
  
  if (!title || title.length == 0) {
  	showCreateError();
  	document.getElementById('contest_create_error').firstChild.textContent = 'please write title.';
  	document.getElementById('contest_create_error').style.backgroundColor = 'red';
  	return false;
  }

  d = opened.match(p);
  if (!d) {
  	showCreateError('open date is out of format.');
  	return false;
  }
  if (!isValidDate(d.slice(1))) {
  	showCreateError('one of open date value is out of bound.');
  	return false;
  }
  
  d = expired.match(p);
  if (!d) {
  	showCreateError('expire date is out of format.');
  	return false;
  }
  if (!isValidDate(d.slice(1))) {
  	showCreateError('one of expire date value is out of bound.');
  	return false;
  }

  var xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function () {
    if (xhr.readyState === xhr.DONE) {
      if (xhr.status === 200) {
      	
        var html = xhr.responseText;
      } else {
        document.getElementById('contest_create_error').firstChild.textContent = xhr.responseText;
      }
    }
  };
  //xhr.open('POST', '/codejam/manager/contests/');
  xhr.open('POST', '/codejam/manager/contests/ajax/create/');
  xhr.send(new FormData(document.getElementById('contest_create')));
  
  return false;
};
</script>
{% endblock %}