{% extends "base.html" %}



<!-- head scripts -->
{% block head_scripts %}
<link rel="stylesheet" href="/static/css/acount.css" type="text/css" media="all" />
{% endblock %}



{% block content %}
<p>
{% if recover %}
  {{email}}님의 비밀번호 변경 메일이 발송되었습니다. 메일 확인 후 비밀번호 변경 절차를 완료해 주세요.  
{% else %}
  {{email}}님의 가입 승인 이메일이 발송되었습니다. 메일 확인 후 최종 승인 절차를 완료해 주세요.
{% endif %}
</p>
<a id="countdown_kr"></a> 초 후 홈으로 이동합니다. 바로 이동 하시려면, <a href="/codejam">이곳</a>을 클릭하세요.
<br/>
<hr/>
<br/>
<p>
{% if recover %}
  A password modification email has been sent to {{email}}. You will be able to change your password using the link in the email.
{% else %}
  A confirmation email has been sent to {{email}}. You will be able to set your password using the link in the email.
{% endif %}
</p>
After <a id="countdown_en"></a> seconds, you will be transferred to the codejam homepage. Please click <a href="/codejam">here</a> to go directly.
{% endblock %}



<!-- body scripts -->
{% block body_scripts %}
<script type="text/javascript">
  var countdown = 5;
  
  function refresh_countdown() {
    document.getElementById('countdown_kr').textContent = countdown;
    document.getElementById('countdown_en').textContent = countdown;
  }
  
  function do_countdown() {
    setTimeout(function () {
      --countdown;
      refresh_countdown();
      if (countdown > 0) {
        do_countdown();
      } else {
        setTimeout(function () {
          window.location.href = '/';
        }, 500);
      }
    }, 1000);
  } 
  
  window.onload = function () {
    refresh_countdown();
    do_countdown();
  };
</script>
{% endblock %}
