{% extends "base.html" %}



<!-- head scripts -->
{% block head_scripts %}
<link rel="stylesheet" href="/static/css/acount.css" type="text/css" media="all" />
{% endblock %}



{% block content %}
{% if error %}
<p>
  {{email}}'이(가) 존재하지 않습니다.
</p>
{% endif %}
<p>
  비밀번호를 다시 설정하려면,
  lgecodejam에 사용하는 이메일 주소를 입력하세요.
  이메일 주소로 비밀번호를 재설정 할 수 있는 페이지 주소를 보내드립니다.
  이메일 주소는 LG전자 업무용 메일 입니다.
</p>

<form action="/accounts/recover/" method="POST">
  {% csrf_token %}
  <label>이메일</label><input id="email" name="email" typee="text"/> 
  <input type="submit" value="계속"/>
</form>

{% endblock %}



<!-- body scripts -->
{% block body_scripts %}
{% endblock %}
