{% extends "base.html" %}



<!-- head scripts -->
{% block head_scripts %}
<link rel="stylesheet" href="/static/css/acount.css" type="text/css" media="all" />
{% endblock %}



{% block content %}
<form id="signup" method="POST" action="{{action}}{{username}}/">
	{% csrf_token %}
	<table>
		<tr>
		  <th><label for="reg_password1">새 비밀번호:</label></th>
		  <td><input id="reg_password1" name="reg_password1" type="password"></input></td>
		  <td>{{reg_password_error1}}</td>
		</tr>
		<tr>
		  <th><label for="reg_password2">새 비밀번호 (확인):</label></th>
		  <td><input id="reg_password2" name="reg_password2" type="password"></input></td></td>
		  <td>{{reg_password_error2}}</td>
		</tr>
		<tr>
		  <td></td>
			<td><button type="submit">비밀번호 입력</button></td>
			<td></td>
		</tr>
	</table>
</form>
{% endblock %}



<!-- body scripts -->
{% block body_scripts %}
{% endblock %}
